* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #00587a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10rem;
  background-color: #00587a;
  padding: 0 1rem 0 1rem;
}

.header__menu ul {
  display: none;
  list-style: none;
  text-align: right;
  position: absolute;
  text-decoration: underline;
}

.header__menu:hover ul,
ul:hover {
  display: block;
  color: #fff;
  text-decoration: un;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.header__logo,
.header__menu img {
  height: 6rem;
}

.main {
  margin-top: 100px;
}

.buscador {
  color: #fff;
  display: grid;
  justify-items: center;
}

.buscador__title {
  margin-bottom: 2rem;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel__item {
  background-color: palevioletred;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
