* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #00587a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10rem;
  background-color: #00587a;
  padding: 0 1rem 0 1rem;
}

.header__menu ul {
  display: none;
  list-style: none;
  text-align: right;
  position: absolute;
  text-decoration: underline;
}

.header__menu:hover ul,
ul:hover {
  display: block;
  color: #fff;
  text-decoration: un;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.header__logo,
.header__menu img {
  height: 6rem;
}

.main {
  margin-top: 100px;
}

.buscador {
  color: #fff;
  display: grid;
  justify-items: center;
}

.buscador__title {
  margin-bottom: 2rem;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.2rem solid white;
  border-radius: 25px;
  color: white;
  font-size: 1.6rem;
  height: 5rem;
  padding: 0px 2rem;
  width: 70%;
}

::placeholder {
  color: white;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 3rem;
  position: relative;
  height: 50rem;
}

.carousel__container {
  white-space: nowrap;
  margin: 7rem 0px;
  padding-bottom: 1rem;
}
.carousel__item {
  background-color: palevioletred;
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel__item:hover ~ .carousel__item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel__item {
  opacity: 0.3;
}
.carousel__container:hover .carousel__item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel__item__img {
  height: 25rem;
  object-fit: cover;
}

.carousel__item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
