* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #00587a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10rem;
  background-color: #00587a;
  padding: 0 1rem 0 1rem;
}

.header__menu ul {
  display: none;
  list-style: none;
  text-align: right;
  position: absolute;
  text-decoration: underline;
}

.header__menu:hover ul,
ul:hover {
  display: block;
  color: #fff;
  text-decoration: un;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.header__logo,
.header__menu img {
  height: 6rem;
}
